[Unit]
Description=Gunicorn instance to serve your Flask application
After=network.target

[Service]
User=ubuntu  # Replace with your Linux username

WorkingDirectory=/home/ubuntu/Airbnb_clone_v4

ExecStart=gunicorn --workers 3 --bind 0.0.0.0:5003 web_dynamic.2-hbnb:app  --error-logfile /tmp/airbnb-error.log

Restart=always

StandardOutput=append:/tmp/airbnb-access.log

StandardError=append:/tmp/airbnb-access.log

SyslogIdentifier=gunicorn

[Install]
WantedBy=multi-user.target

